html,body{
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ClockBoundery{
    height: 200px;
    width: 200px;
    border: 3px solid white;
    border-radius: 50%;

    position: relative;
}

.LoadingText{
    color: white;
    font-size: 30px;
    font-family: 'Roboto';
    margin: 20px;
}


.ClockBoundery::after{
    content: '';
    position: absolute;
    bottom: 100px;
    left: 100px;

    display: inline-block;
    width: 2px;
    height: 90px;
    background-color: white;

    animation: Tick 2s linear infinite;
    transform-origin: 0% 100%;
}

@keyframes Tick {

    to{
        transform: rotate(0deg);
    }

    from{
        transform: rotate(-360deg);
    }
    
}


